$body-bg: #fff;
$body-font-color: #404040;
$body-font-family: 'Open Sans', sans-serif;

/* Colors */
$lightgrey: #fafafa;
$green: #7ABA00;
$orange: #F79C00;
$steelblue: #6CA8BF;
$red: #F30000;
$blue: #2769C8;
$darkgreen: #318624;