$body-bg: #fff;
$body-font-color: #404040;
$body-font-family: 'Open Sans', sans-serif;

/* Colors */
$lightgrey: rgba(#fafafa, .1);
$green: rgba(#7ABA00, .2);
$orange: rgba(#F79C00, .2);
$steelblue: rgba(#6CA8BF, .2);
$red: rgba(#F30000, .2);
$blue: rgba(#2769C8, .2);
$darkgreen: rgba(#318624, .2);