body {
    padding-top: 50px;
    background: $body-bg;
    color: $body-font-color;
    font-family: $body-font-family;
}

button {
    margin: 1.5em 0;
}

h1 {
    font-size: 2em;
}

a,
a:hover {
    color: $body-font-color;
    text-decoration: none;
}