.header {
    line-height: 50px;
    font-size: 1.5em;
    box-shadow: 0 0 1px rgba(0,0,0,.1),0 1px 4px rgba(0,0,0,.2);
    border: 0;
    z-index: 100;

    .main-logo {
        float: left;
        height: 40px;
        margin-top: 7px;
    }

    select {
        vertical-align: middle;
        margin-top: -4px;
        margin-right: 1em;
        font-size: 1.5rem;
    }

    .btn-edit {
        position: absolute;
        right: 15px;
        top: 8px;
        margin: 0;
        height: 34px;
        color: #fff;
    }

    > div {
        text-align: right;
    }
    
    .bars {
        font-size: 1em;
    }
}