.page-filter {
    position: relative;
    padding: .25em 1em 1em;
    margin-top: 1em;
    border-radius: 4px;
    background-color: #f1f1f1;
    .spin-mini-container {
        margin-top: 0;
    }
}

.page-filter-dropdown {
    position: relative;
    display: inline-block;
    min-width: 120px;
    margin: 0 12px 0 0;
    select {
        font-size: 1.125em;
    }
}

.page-filter-autosuggest {
    position: relative;
    display: inline-block;
    min-width: 120px;
    margin: 0 12px 0 0;
    font-size: .875em;
}

.page-filter-submit {
    margin: 0 12px 0 0;
    font-size: .875em;
}