.cd-primary-nav,
.cd-primary-nav ul {
    position: fixed;
    top: 50px;
    left: 0;
    height: 100%;
    width: 260px;
    margin: 0;
    padding: 0;
    background: #f8f8f8;
    box-shadow: 0 0 1px rgba(0,0,0,.1),1px 2px 4px rgba(0,0,0,.2);
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}
.cd-primary-nav ul {
    top: 0;
}
.cd-primary-nav + .dim-the-light {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(#000, .2);
    visibility: hidden;
    transition: opacity .15s ease-in, visibility 0s .15s
}
.cd-primary-nav.nav-is-visible + .dim-the-light {
    opacity: 1;
    visibility: visible;
    transition: opacity .15s ease-in, visibility 0s 0s;
}
.cd-primary-nav a,
.cd-primary-nav ul a {
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;
    border-bottom: 1px solid #e7e7e7;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform, opacity;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    &[href] {
        cursor: pointer;
    }
}
.cd-primary-nav a:hover,
.cd-primary-nav ul a:hover {
    background: darken(#f8f8f8, 5%);
}
.cd-primary-nav a.active {
    background: $green;
}
.nav-on-left .cd-primary-nav,
.nav-on-left .cd-primary-nav ul {
    right: auto;
    left: 0;
}
.cd-primary-nav {
    /* by default .cd-primary-nav is hidden - trick for iOS devices where you can see the navigation if you pull down */
    -webkit-transition: transform 0.15s ease-in;
    -moz-transition: transform 0.15s ease-in;
    transition: transform 0.15s ease-in, visibility 0s 0.15s;
    transform: translateX(-260px);
    visibility: hidden;
}
.cd-primary-nav.nav-is-visible {
    -webkit-transition: transform 0.15s ease-in;
    -moz-transition: transform 0.15s ease-in;
    transition: transform 0.15s ease-in, visibility 0s 0s;
    transform: translateX(0);
    visibility: visible;
}
.has-children > a,
.go-back a {
    position: relative;
}
.has-children > a::before,
.has-children > a::after,
.go-back a::before,
.go-back a::after {
    /* arrow icon in CSS - for element with nested unordered lists */
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -1px;
    display: inline-block;
    height: 2px;
    width: 10px;
    background: #464c4e;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.has-children > a::before,
.go-back a::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.has-children > a::after,
.go-back a::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.has-children > a {
    padding-right: 40px;
}
.has-children > a::before,
.has-children > a::after {
    /* arrow goes on the right side - children navigation */
    right: 20px;
    -webkit-transform-origin: 9px 50%;
    -moz-transform-origin: 9px 50%;
    -ms-transform-origin: 9px 50%;
    -o-transform-origin: 9px 50%;
    transform-origin: 9px 50%;
}

.cd-primary-nav .go-back a {
    padding-left: 40px;
}
.cd-primary-nav .go-back a::before,
.cd-primary-nav .go-back a::after {
    /* arrow goes on the left side - go back button */
    left: 20px;
    -webkit-transform-origin: 1px 50%;
    -moz-transform-origin: 1px 50%;
    -ms-transform-origin: 1px 50%;
    -o-transform-origin: 1px 50%;
    transform-origin: 1px 50%;
}

.cd-primary-nav li {
    position: absolute;
    width: 100%;
    list-style-type: none;
}

.menu-slide-left-enter,
.menu-slide-right-enter {
     transform: translateX(260px);
     transition: transform 0.15s ease-in;
 }

.menu-slide-right-enter {
    transform: translateX(-260px);
}

.menu-slide-left-enter.menu-slide-left-enter-active,
.menu-slide-right-enter.menu-slide-right-enter-active {
    transform: translateX(0);
}

.menu-slide-left-leave,
.menu-slide-right-leave {
    transform: translateX(0);
    transition: transform 0.15s ease-in;
}

.menu-slide-left-leave.menu-slide-left-leave-active {
    transform: translateX(-260px);
}

.menu-slide-right-leave.menu-slide-right-leave-active {
    transform: translateX(260px);
}