.add-menu {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(#fff, 1);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 2;
}

.add-menu-item {
    position: relative;
    margin: 0 auto;
    display: block;
    max-width: 80%;
    font-size: 2em;
    padding: 10px 0;
    border-bottom: 4px solid #eee;
    button {
        position: absolute;
        right: 0;
        bottom: 10px;
        margin: 0;
    }
    span {
        font-size: .75em;
    }
}

.add-menu-preview {
    display: none;
    width: 100px;
    height: 82px;
    margin-right: 1em;
    float: left;
    text-align: center;
    line-height: 82px;
    font-size: .75em;
    color: #555;
    cursor: pointer;
    &.lightgrey  {
        background-color: rgba($lightgrey, 1);
    }
    &.green  {
        background-color: rgba($green, .3);
    }
    &.steelblue  {
        background-color: rgba($steelblue, .3);
    }
    &.orange  {
        background-color: rgba($orange, .3);
    }
    &.red  {
        background-color: rgba($red, .3);
    }
    &.blue  {
        background-color: rgba($blue, .3);
    }
    &.darkgreen  {
        background-color: rgba($darkgreen, .3);
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
    .add-menu-preview {
        display: block;
    }
}