.header {
    line-height: 50px;
    font-size: 1.5em;

    select {
        vertical-align: middle;
        margin-top: -4px;
    }

    .btn-edit {
        position: absolute;
        right: 15px;
        top: 8px;
        margin: 0;
        height: 34px;
        color: #fff;
    }
}